* { margin:0; padding:0; box-sizing:border-box; } 

body { 
	background-color: #FAFAFA; 
	font-size: 40px;
}

header{ 
	background-image: url(../images/background.jpg);
	background-position: center;
	background-size: 100%;
	height: 35em;
}

#about{
	float:left;
	padding-top: 12em;
	padding-left: 2em;
}

h1 {
	font-family: 'Satisfy', cursive;
	font-size: 2em;
	color: rgb(255,255,255);
	text-decoration: bold;
}

h2{
	font-size: 1.5em;
	color: #D4BEC9;
	padding-top: 1em;
	font-family: Calibri;
	text-decoration: bold;
}

#intro{ 
	font-size: 1em;
	color: #D4BEC9;
	width: 53%;
	font-family: Calibri;
}

nav{ 
	text-align: center;
	margin-top: 0.5em; 
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

a{
	background-color: #B3E6FF;
	color: black;
	text-decoration: none;
	padding: 0.5em;
	display: inline-block;
	margin: 0.5em;
	border: black;
	font-family: Calibri;
}

a:hover{ 
	background-color: #A3929B;
	color: white; 
}

#subtitle {
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 3em;
	padding-top: 0.5em;
	margin-top: 0.5em;
}

.column {
	width: 32%;
	padding: 1%;
	margin-top: 0.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 1.5em;
	float: left;
	text-align: center;
	font-family: Calibri;
}

.cta{ 
	background: none;
	color: white;
	text-decoration: bold;
	text-decoration: underline; 
 }

h3 { 
	font-family: Calibri;
}

#column1 { 
	background-color: #9E97FF; 
}

#column2 { 
	background-color: #6EA3A2; 
}

#column3 { 
	background-color: #FF9422; 
}

#subtitle2{ 
	text-align: center; 
	font-family: 'Satisfy', cursive;
	font-size: 2em;
	color: black;
}

#moreinfo {
	text-align: center; 
	background-color: #D4BEC9; 
	font-family: Calibri;
}

.location {
	background: none;
	color: black;
	text-decoration: bold;
	text-decoration: underline; 
	font-family: 'Satisfy', cursive;
	font-size: 1.5em;
}

footer{
	text-align: center;
	font-family: Calibri;
	margin-top: 1.5em;
}
@media only screen and (max-width: 1200px) {
	.column {
		float: none;
		display: inline-block;
		width: 60%;
	}
}
@media only screen and (max-width: 900px) {
	header{
		background-image: none;
		background-color: #D4BEC9;
	}
	#about{ 
		float: none;
		text-align: center; 
		padding-top: 10em;
	}
	h1 { 
		color: black; 
		font-size: 3em;
		}
	h2{
		color: white;
		font-size: 2em;
	}
	#intro {
		color: white;
		text-align: center;
		width: auto;
		padding-left: 10%;
		padding-right: 10%;
		font-size: 1.5em;
	}
	#subtitle { 
	font-size: 1em; 
	}
}
@media only screen and (max-width: 480px) {
	.column {
		float: none;
		width: auto;
	}
}

